/* shared */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;

  border-radius: 8px;
  cursor: pointer;
  width: auto;
}

.button--sm {
  min-width: 58px;
  padding: 4px 10px;
}

.button--md {
  min-width: 113px;
  padding: 6px 12px;
}

.fullWidth {
  width: 100%;
}

/* Загальні стилі для disabled */
.button:disabled,
a[aria-disabled='true'] {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

/* blue */
.blue {
  border: 1px solid var(--color-royal-blue);
  color: var(--color-white);
  background-color: var(--color-royal-blue);
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    border-color var(--transition-base);
}

.blue:active {
  background-color: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

.blue:disabled,
a[aria-disabled='true'].blue {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

/* grey */
.grey {
  border: 1px solid var(--color-scheme-2-border);
  color: var(--color-neutral-darkest);
  background-color: var(--opacity-neutral-darkest-5);
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    border-color var(--transition-base);
}

.grey:active {
  background-color: var(--color-royal-blue-darker);
}

.grey:disabled,
a[aria-disabled='true'].grey {
  border: 1px solid var(--opacity-transparent);
  background-color: var(--opacity-neutral-darkest-5);
  color: var(--color-neutral-darkest);
}

@media (hover: hover) and (pointer: fine) {
  .blue:hover,
  .blue:focus-visible {
    outline: none;
    background-color: var(--color-royal-blue-lighter);
    color: var(--color-scheme-2-text);
  }

  .grey:hover,
  .grey:focus-visible {
    outline: none;
    border: 1px solid var(--opacity-transparent);
    background-color: var(--color-royal-blue);
    color: var(--color-white);
  }
}
