.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--bp-mobile);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: var(--bp-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 64px;
    max-width: var(--bp-desktop);
  }
}
