.sectionTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  padding-bottom: 48px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

/* адаптивна версія*/

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 44px;
  }

  .actions {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .sectionTitle {
    font-size: 52px;
  }
}
