.storiesGrid {
  display: grid;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0; 
  grid-template-columns: 1fr;
  justify-items: center;  
}
 
@media (min-width: 768px) {
  .storiesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
@media (min-width: 1440px) {
  .storiesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
 