:root {
  /* Fonts */
  --font-family: 'Nunito Sans', sans-serif;
  --second-family: 'Sora', 'Nunito Sans', sans-serif;

  /* breakpoints */
  --bp-mobile: 375px;
  --bp-tablet: 768px;
  --bp-desktop: 1440px;

  /* Colors */
  --color-white: #fff;
  --color-red: #b00101;

  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-foreground: var(--color-neutral-lightest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-accent: var(--color-royal-blue);

  --color-scheme-2-background: var(--color-royal-blue-lightest);
  --color-scheme-2-foreground: var(--color-royal-blue-lighter);
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-royal-blue);

  --color-neutral-lighter: #d8d8d8;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --color-neutral-darkest: #000;
  --opacity-transparent: rgba(255, 255, 255, 0);

  --color-royal-blue-lightest: #f7f9ff;
  --color-royal-blue-lighter: #e8eeff;
  --color-royal-blue-light: #7a96ea;
  --color-royal-blue: #4169e1;
  --color-royal-blue-dark: #3454b4;
  --color-royal-blue-darker: #1a2a5a;
  --color-royal-blue-darkest: #131f43;

  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);

  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
}
