.card {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-royal-blue-lighter);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform var(--transition-base),
    box-shadow var(--transition-base);
}
.image {
  width: 100%;
  height: 226px;
  object-fit: cover;
  display: block;
}

@media (min-width: 1440px) {
  .image {
    height: 281px;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--opacity-neutral-darkest-10);
}

.contentWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  margin-bottom: 24px;
}

.category {
  display: inline-block;
  border-radius: 6px;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authorBlock {
  height: 54px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 24px;
}

.imageWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorAvatar {
  object-fit: cover;
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.authorName {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 16px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.separator {
  color: var(--color-neutral);
}

.saves {
  display: flex;
  align-items: center;
  gap: 4px;
}

.actions {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.viewButton {
  flex-grow: 1;
  height: 100%;
  padding: 6px 12px;
  min-width: 0;
}

.iconButton {
  min-width: 48px;
  height: 48px;
  padding: 12px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.iconButton svg {
  width: 24px;
  height: 24px;
  display: block;
}

.normal,
.own {
  border: 1px solid var(--color-scheme-2-border);
  background: var(--opacity-neutral-darkest-5);
}
.normal svg,
.own svg {
  opacity: 0.6;
}
.normal svg path,
.own svg path {
  fill: var(--color-scheme-2-text);
}

.saved {
  border: 1px solid var(--opacity-transparent);
  background: var(--color-royal-blue-darker);
}
.saved svg path {
  fill: var(--color-white);
}
