/* #region Mobile */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  padding: 25px 0;
}

.publish {
  composes: blue from '../../ui/AppButton/AppButton.module.css';
  max-width: 335px;
  width: 100%;
  min-height: 32px;
}

.header .menuButton {
  min-width: 32px;
  padding: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-scheme-2-background);
  z-index: 999;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity var(--transition-base),
    background var(--transition-base);
}

.overlay.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.overlay nav {
  margin-top: 88px;
}

.overlay nav ul {
  padding-bottom: 16px;
  gap: 32px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #endregion Mobile */

/* ------------------------------- */

/* #region tablet */
@media screen and (min-width: 768px) {
  .overlay nav ul {
    flex-direction: column;
  }
}
/* #endregion tablet */

/* #region Desktop */

@media screen and (min-width: 1440px) {
  .header nav ul {
    padding: 0;
  }

  .linksWrap {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .linksWrap {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

/* #endregion Desktop */
