/* #region Mobile */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  padding: 23px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-scheme-2-background);
  z-index: 999;

  opacity: 1;
  pointer-events: none;

  transition: opacity var(--transition-base) background var(--transition-base);
}

.overlay.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.overlay .nav {
  margin-top: 88px;
}

.overlay .nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav li:nth-child(-n + 3) a {
  display: inline-block;

  font-family: var(--font-family);

  line-height: 150%;
  color: var(--color-scheme-2-text);
}

/* #endregion Mobile */

/* #region Main */

/* .nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
} */

/* .nav li:nth-child(-n + 3) a {
  display: inline-block;
  padding: 23px 0;
  color: var(--color-scheme-1-background);
} */

/* #endregion Main */
