.firstWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  flex: 1;
}

.textAbout {
  font-size: 16px;
  padding-top: 8px;
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .firstWrapper {
    flex-direction: row;
  }

  .title {
    font-size: 44px;
  }

  .list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 52px;
    flex: none;
    width: 755px;
  }

  .textAbout {
    font-size: 20px;
    width: 533px;
  }

  .list {
    gap: 48px;
  }

  .icon {
    margin-bottom: 24px;
  }

  .subtitle {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .text {
    font-size: 18px;
  }
}
