.tabs {
  margin-top: 32px;
  margin-bottom: 40px;
}
.tabs .travellerInfo {
  margin-bottom: 32px; /* мобилка по умолчанию */
}

@media (min-width: 768px) {
  .travellerInfo {
    margin-bottom: 48px; /* планшет/десктоп */
  }
}
