.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: var(--color-scheme-2-foreground);
  border-radius: 16px;
}
.cardInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.avatar {
  --base-color: #c0c0c0;
  --highlight-color: #e0e0e0;
  margin-bottom: 24px;
}

.name {
  margin-bottom: 16px;
  height: 27px;
  width: 143px;
  --base-color: #c0c0c0;
  --highlight-color: #e0e0e0;
}

.bio {
  --base-color: #c0c0c0;
  --highlight-color: #e0e0e0;
  min-width: 200px;
  height: 19px;
  width: 287px;
  margin-bottom: 5px;
}
.bio:last-child {
  margin-bottom: 0;
}

.button {
  margin-top: 11px;
  border-radius: 8px;
  --base-color: #c0c0c0;
  --highlight-color: #e0e0e0;
  width: 287px;
  height: 48px;
}
@media (min-width: 375px) {
  .card {
    width: 335px;
    align-items: flex-start;
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .card {
    width: 340px;
  }
  .name {
    height: 27px;
  }
  .button {
    width: 292px;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 310px;
  }
  .button {
    width: 262px;
    margin-top: 16px;
  }
  .name {
    height: 31px;
  }
  .bio {
    height: 21px;
    width: 262px;
    margin-bottom: 7px;
  }
}
