:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --color-royal-blue-lightest: #f7f9ff;
  --color-neutral-dark: #4c4c4c;
  --font-family: 'Nunito Sans', sans-serif;
  --second-family: 'Sora', sans-serif;
}

.backdrop {
  background: var(--opacity-neutral-darkest-30);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal {
  position: relative;
  z-index: 22;
  background: var(--color-royal-blue-lightest);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 24px;
  padding: 64px 20px 20px;
  width: 90%;
}

.title {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
}

.close {
  position: absolute;
  top: 29px;
  right: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--color-neutral-dark);
  transition: all var(--transition-base);
}

.close svg {
  width: 14px;
  height: 14px;

  fill: var(--color-neutral-darkest);
  display: block;
}

/* стани кнопки close */
.close:hover {
  scale: 1.1;
}

.close:active {
  scale: 0.95;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
/*  */

@media (min-width: 375px) {
  .modal {
    padding: 64px 20px 20px 20px;
    width: 335px;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 64px 32px;
  }
  .title {
    font-size: 32px;
  }
  .close {
    top: 25px;
    right: 25px;
  }
  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .modal {
    width: 768px;
    padding: 64px;
  }
  .close {
    top: 28px;
    right: 28px;
  }
  .title {
    font-size: 48px;
  }
  .text {
    font-size: 20px;
  }
}
