.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  padding: 8px 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  color: var(--color-neutral-dark);
  background-color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color var(--transition-base);

  &:hover,
  &.selectOpen {
    outline: none;
    border-color: var(--color-royal-blue-light);
    color: var(--color-neutral-darkest);
  }
}

.selectOpen {
  border-color: var(--color-royal-blue-light);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.arrow {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: transform var(--transition-base);
}

.selectOpen .arrow {
  transform: rotate(180deg);
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--color-royal-blue-light);
  background-color: var(--color-white);
  border-top: none;
  z-index: 10;
}

.option {
  padding: 8px;
  cursor: pointer;
  color: var(--color-neutral-darkest);
  border-radius: 4px;
  margin-bottom: 8px;

  &:hover {
    background-color: var(--color-neutral-lightest);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.selectedOption {
  background-color: var(--color-neutral-lightest);
}

.highlighted {
  background-color: var(--color-neutral-lightest);
}

.selectError {
  border-color: var(--color-red);
}

.errorMessage {
  margin-top: 8px;
  font-size: 12px;
  color: var(--color-red);
}
