.buttonWrap {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.buttonWrap a {
  width: 100%;
  max-width: 335px;
  min-height: 35px;
  padding: 0;
}

.init {
  border: 1px solid var(--color-scheme-2-border);
  background: var(--opacity-white-10);
  color: var(--color-white);
}

.white {
  background: var(--color-white);
  color: var(--color-neutral-darkest);
}

@media screen and (min-width: 1440px) {
  .buttonWrap {
    flex-direction: row;
  }
}
