.buttonWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.buttonWrap a {
  width: 100%;
  max-width: 335px;
  min-height: 35px;
  padding: 0;
}

@media screen and (min-width: 1440px) {
  .buttonWrap {
    flex-direction: row;
  }
}
