.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--color-scheme-2-foreground);
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  justify-content: center;
}
.copy::before {
  content: '';
  display: block; /* обовʼязково */
  width: 345px;
  height: 1px; /* товщина */
  background: var(--color-scheme-2-border);

  margin-bottom: 24px;
}
